*/ {
    margin: 0;
    padding: 0;   
}


/* header */
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}


.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #333;
    position: fixed;
    color: white;
    padding: 2rem 0;
    left: 0%;
    top:0%;
    right: 0%;
    z-index: 20;
}

    .header a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.3em;
    margin-left: 50px;
}

.menu-icon {
    display: none;
    margin-right: 50px;
}

.navigation ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

    .navigation ul li {
        display: inline-block
    }
        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4 linear;
            border-radius: 5px;;
        }

        .navigation ul li a:hover {
            background: rgb(121, 121, 121);
        }

.footer {
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-bottom: 6rem;
}


.menu-icon {
        display: block;
        cursor: pointer;
    } 
    
    .navigation ul {
          display: none;
      }
  
      .navigation ul.show {
          display: block;
      }    
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
        .navigation ul li {
            display: block
        }
            .navigation ul li a {
                display: block;
                padding: 0.5rem 0;
                transition: all 0.4 linear;
                border-radius: 5px;;
            }
    
            .navigation ul li a:hover {
                background: rgb(121, 121, 121);
            }


/* header terminado */


.container2{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 300px;
}






/* footer */

.footer{
    position: relative;
}

.footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background:rgb(255, 255, 255);
    bottom: 0;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.footer__contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
    margin-bottom: 30px;
}


.footer__copy{
    margin: 20px 0;
    font-weight: 300;
}

.footer__social{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.footer__link{
    width: 60px;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer__picture{
    margin: 0;
}

.footer__img{
    width: 100%;
}

.footer__copyright{
    padding-top: 30px;
    border-top: 2px double teal;
    text-align: center;
}
